*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1200px;
    min-height: 900px;
    background-color: FFFFFF;
    border: black solid 10px;
    margin: auto;
}
.header{
    height: 40px;
    background-color: black;
    padding: 25px;
    margin: auto;
}

.header h2, h4{
    display: inline-block;
    color: rgb(192, 183, 147);
    vertical-align: top;
    /* margin-top: 20px; */
}
.header h4{
    width: 110px;
    margin-left: 30px;
    font-size: 20px;
    text-align: right;
    padding-left: 10px;
}

.header h2{
    font-size: 25px;
    font: larger;
    padding-left: 10px;
}
.main-content{
    width: 1160px;
    min-height: 500px;
    margin: auto;
    padding: 20px;
}
.main-content img{
    width: 100%;
}
.activities{
    width: 327px;
    height: 213px;
    background-color: #1468A8;
    padding: 25px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}
.left{
    width: 100px;
    height: 100px;
    /*color: #D5E1ED;*/
}

}
.activities h2{
    color: cornsilk;
    font-size: 30px;
}
.subheader h2, img{
    display: inline-block;
    vertical-align: middle;
}
.activities p{
    margin-top: 15px;
    text-align: left;
}
.activities button{
    padding: 10px 30px;
    background-color: #198FD9;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 35px;
}
#middle-activities{
    margin-left: 10px;
    margin-right: 10px;
}
