<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consulting</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='clients.css') }}" > 
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Clients</h2>

            <h4><a href="/"><span id="color">
                    Home
                </span></a>
            </h4>
            <h4><a href="/about">About</a></h4>
            <h4><a href="team">TEAM</a></h4>
            <h4><a href="services">Services</a></h4>
            <h4><a href="clients">Clients</a></h4>       
        </div>
    <div class="main-content">
        <div class="activities">
            <h2>Clients</h2>
            <p>
                Schools 
                <br>
                Parents or Childrens of hard-hearing Individuals 
                <br>
                Organizations closely working with hard-hearing Individuals 
                <br>
            </p>
        </div> 
    </div>
    <div class="footer">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Services</a>
        <a href="">Team</a>
        <a href="">Clients</a>
    </div>
    </div>
</body>
</html>