<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consulting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}" > 
    
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>SIGN IN</h2>
            <h4><a href="/"><span id="color">
                    Home
                </span></a>
            </h4>
            <!-- <a href="/about">About</a> -->
            <h4><a href="/about">About</a></h4>
            <h4><a href="team">TEAM</a></h4>
            <h4><a href="services">Services</a></h4>
            <h4><a href="clients">Clients</a></h4>        
        </div>
    <div class="main-content">
    	<div class="activities">
	    	<form method="POST">
		        {{ form.csrf_token }}
		        {{ form.username.label}} {{form.username()}} <br/>
		        {{ form.password.label}} {{form.password()}}<br/>
		        <button>{{ form.submit()}}</button>
    		</form>
	    </div>
    <br/>
	</div>
</body>
